#footer= '©2016 '
	a(href=url_for('.'), rel='nofollow')= config.title + '.'
	a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
	a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Maupassant.
	script(type='text/javascript', src='https://s4.cnzz.com/z_stat.php?id=1260102884&web_id=1260102884',language='JavaScript')